[submodule "garment"]
	path = garment
	url = https://github.com/RisingStockPrices/dressing-in-order.git
[submodule "parser"]
	path = parser
	url = https://github.com/RisingStockPrices/Self-Correction-Human-Parsing.git