[submodule "garment"]
	path = garment
	url = https://github.com/RisingStockPrices/dressing-in-order.git
[submodule "garment_transfer/parser"]
	path = garment_transfer/parser
	url = https://github.com/RisingStockPrices/Self-Correction-Human-Parsing.git
[submodule "garment_transfer/pose"]
	path = garment_transfer/pose
	url = https://github.com/RisingStockPrices/Yet-Another-Openpose-Implementation.git
