[submodule "garment"]
	path = garment
	url = https://github.com/RisingStockPrices/dressing-in-order.git
[submodule "parser"]
	path = parser
	url = https://github.com/RisingStockPrices/Self-Correction-Human-Parsing.git
[submodule "garment_transfer/Yet-Another-Openpose-Implementation"]
	path = garment_transfer/pose
	url = https://github.com/RisingStockPrices/Yet-Another-Openpose-Implementation.git
