absl-py==0.9.0
astor==0.8.1
Bottleneck==1.3.4
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.15.0
charset-normalizer==2.0.4
click==8.1.2
colorama==0.4.4
cryptography==36.0.0
# dataclasses==0.8
easydict==1.9
filelock==3.6.0
Flask==1.1.2
gast==0.3.3
google-pasta==0.2.0
GPUtil==1.4.0
grpcio==1.27.2
h5py==2.10.0
huggingface-hub==0.5.1
idna==3.3
importlib-metadata==4.11.3
irbench-vision==0.1.12
itsdangerous==2.1.2
Jinja2==3.1.1
joblib==1.1.0
kaggle==1.5.12
Markdown==3.2.1
MarkupSafe==2.1.1
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
nltk==3.6.7
numexpr==2.8.1
numpy==1.21.5
packaging==21.3
pandas==1.4.2
Pillow==9.0.1
# pip==21.2.4
protobuf==3.11.3
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.8
PySocks==1.7.1
python-dateutil==2.8.2
python-slugify==6.1.1
pytz==2021.3
PyYAML==5.4.1
pyzmq==19.0.0
regex==2022.3.15
requests==2.27.1
sacremoses==0.0.49
scikit-learn==1.0.2
scipy==1.7.3
sentence-transformers==2.2.0
sentencepiece==0.1.95
setuptools==61.2.0
six==1.16.0
tensorboard==1.14.0
tensorboardX==2.0
termcolor==1.1.0
text-unidecode==1.3
threadpoolctl==3.1.0
tokenizers==0.10.3
torch==1.11.0
torchvision==0.12.0
tqdm==4.64.0
transformers==4.15.0
typing_extensions==4.1.1
urllib3==1.26.9
uuid==1.30
Werkzeug==1.0.1
wheel==0.37.1
wrapt==1.12.1
zipp==3.8.0
