absl-py==1.0.0
alabaster==0.7.12
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.10.0
bleach==4.1.0
brotlipy==0.7.0
bs4==0.0.1
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer # @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.0
commonmark==0.9.1
cryptography # @ file:///tmp/build/80754af9/cryptography_1639400846433/work
cycler==0.10.0
Cython==0.29.28
debugpy==1.6.0
decorator==5.1.1
deepdish==0.3.7
defusedxml==0.7.1
distlib==0.3.3
docutils==0.17.1
dominate==2.6.0
easydict==1.9
entrypoints==0.4
executing==0.8.3
filelock==3.3.2
Flask==2.1.0
flatbuffers==2.0
fonttools==4.31.2
gast==0.5.3
gdown==4.4.0
google-api-core==2.7.1
google-auth==2.6.2
google-auth-oauthlib==0.4.6
google-cloud-core==2.2.3
google-cloud-storage==2.2.1
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==2.3.2
googleapis-common-protos==1.56.0
GPUtil==1.4.0
grpcio==1.44.0
h5py==3.6.0
html5lib==1.1
idna # @ file:///tmp/build/80754af9/idna_1637925883363/work
imageio==2.16.1
imagesize==1.3.0
imgaug==0.4.0
importlib-metadata==4.11.3
importlib-resources==5.6.0
ipykernel==6.9.2
ipython==8.1.1
ipython-genutils==0.2.0
ipywidgets==7.7.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.1
joblib==1.1.0
jsonpatch==1.32
jsonpointer==2.1
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
libclang==13.0.0
llvmlite==0.32.1
lpips==0.1.3
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mediapipe==0.8.9.1
mistune==0.8.4
mkl-fft==1.3.1
mkl-random # @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
# nb-conda-kernels # @ file:///tmp/build/80754af9/nb_conda_kernels_1606775941989/work
nbclient==0.5.13
nbconvert==6.4.5
nbformat==5.2.0
nest-asyncio==1.5.4
networkx==2.7.1
nibabel==3.2.2
nilearn==0.9.0
ninja==1.10.2.3
nltools==0.4.5
notebook==6.4.10
np==1.0.2
numba==0.46.0
numexpr==2.8.1
numpy==1.22.3
oauthlib==3.2.0
objectpath==0.6.1
opencv-contrib-python==4.5.5.64
opencv-python==4.5.5.64
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.1
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.4.0
prometheus-client==0.13.1
prompt-toolkit==3.0.28
protobuf==3.19.4
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-feat==0.3.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.4
pycparser==2.21
Pygments==2.11.2
pyhocon==0.3.59
pynv==0.2
pyOpenSSL # @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.7
pyrsistent==0.18.1
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.1
PyWavelets==1.1.1
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.3.0
QtPy==2.0.1
recommonmark==0.7.1
requests # @ file:///opt/conda/conda-bld/requests_1641824580448/work
requests-oauthlib==1.3.1
rinoh-typeface-dejavuserif==0.1.3
rinoh-typeface-texgyrecursor==0.1.1
rinoh-typeface-texgyreheros==0.1.1
rinoh-typeface-texgyrepagella==0.1.1
rinohtype==0.5.3
rsa==4.8
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
Send2Trash==1.8.0
Shapely==1.8.1.post1
simplegeneric==0.8.1
six==1.16.0
sklearn==0.0
snowballstemmer==2.2.0
soupsieve==2.3.1
Sphinx==4.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data==0.2.0
tables==3.7.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5
#tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.13.3
testpath==0.6.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tifffile==2022.3.25
torch==1.11.0
torch-tb-profiler==0.4.0
torchaudio==0.11.0
torchfile==0.1.0
torchvision==0.12.0
tornado==6.1
tqdm==4.63.0
traitlets==5.1.1
typing_extensions==4.1.1
urllib3 # @ file:///opt/conda/conda-bld/urllib3_1643638302206/work
virtualenv==20.9.0
visdom==0.1.8.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.1.0
widgetsnbextension==3.6.0
wrapt==1.14.0
zipp==3.7.0

# 이후 버전 맞춰주면서 다시 설치한 애들.
cudnn==8.2.1.32 # conda-forge로 설치
cudatoolkit==11.3 # 설치를 했나..? 
# 아래는 전부 pip install로 설치.
easydict==1.9
tensorboardX==2.5

# 이걸로 DNN library없는 문제 해결. -> 결국 얘만 바꿔주면 됐었음ㅠㅠ
tensorflow==2.4.0
