<!doctype html>
<link rel="shortcut icon" href="#">
<title>Python Flask - Video Upload and Play Example</title>
<p>
    
<div style="margin: 10px auto;">
    <video id="vid" width="600" height="240" controls="controls" preload="preload">
        <source src="{{ url_for('static', filename='uploads/'+'face5.mp4') }}" type="video/mp4"></source>
    </video>
</div>
</p>
<button type="button" onclick="writeTime()">Clip Time</button>
<p id="t1"></p><p id="t2"></p>
<button type="button" onclick="process()">Process</button>
<br>
<p id="actions"></p>
<img src="{{url_for('static', filename='images/'+'threshold_0.40.png')}}" />
<input type="text" id="name" name="name" required
       size="10">
<button type="button" onclick="saveToLibrary()">Save to Library</button>
<p id="time-res"></p>
<script>

var actions = []

function writeTime() {
  document.getElementById("t1").innerHTML=document.getElementById("t2").innerHTML;
  document.getElementById("t2").innerHTML=(document.getElementById("vid").currentTime* 24).toPrecision(6);
}

function process() {
    //check start and end time
    const f1 = document.getElementById("t1").innerText;
    const f2 = document.getElementById("t2").innerText;
    if(f1<f2)
    {
        actions.push([f1,f2])
        console.log(actions)
        document.getElementById("actions").innerHTML=actions
        //call flask function
        // params: f1, f2, video
    }
}

function saveToLibrary() {
    //check start and end time
    const t1 = document.getElementById("t1").innerText;
    const t2 = document.getElementById("t2").innerText;
    const name = document.getElementById("name").value;
    console.log(name)
    if(t1 < t2 && name)
        document.getElementById("time-res").innerHTML = name //'Time Confirm?'
}
</script>